nav{
 display: flex;
 flex-flow: row nowrap;
 width: 15%;
 height: 45px;
 justify-content: flex-start;
 margin-bottom: 30px;


    a{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: #ccc;
        color: #444;
        font-weight: bolder;
        border: 28px;
        flex-grow: 1;
        margin: 5px 5px;
    }
}




