.clear{
    display: flex;
    font-size: 20px;
    font-family: verdana;
    border: 1px solid rgb(22, 36, 68);
    cursor: pointer;
    color:whitesmoke;
    font-weight: lighter;
    background: #5c89db;
}

#box-messages{
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    background: #f2f2f2;
    border: 1px solid #444;
    box-shadow: 0px 2px 5px #ccc;
    color: green;
    margin-top: 5px;
}