.grid{
    display: flex;
    flex-flow: row nowrap;
    width: 60%;
    justify-content: flex-start;
    align-items: left;

    a{
        display: flex;
        box-sizing: border-box;
        background-color: rgb(72, 53, 243);
        width: 25%;
        justify-content: center;
        flex-grow: 1; 
        margin: 5px 5px;
        color: whitesmoke;
        font-size: 14px;
        cursor: pointer;
        transition: all 300ms;
    }

    a:hover{
        background-color: rgb(30, 20, 119);
        box-shadow: 0px 0px 8px rgb(72, 53, 243) inset;;
    }
}