*{
    margin: 0px;
    padding: 0px;
}
    #HeroList{
        display:flex;
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        justify-content: flex-start;
        background-color:  #f2f2f2;
        height: auto;
    
        align-items: center;
    
        #Hero{
            display: flex;
            background-color: rgb(67, 118, 148);
            height: 80px;
            align-items: center;
            color: whitesmoke;
            width: 19%;
            flex-grow: 1;
            margin: 5px 5px;
            cursor: pointer;
            justify-content: center;
            font-weight: 800;
            transition: all 300ms;
    
        }
    
        #Hero:hover{
            background-color: rgb(23, 66, 90);
        }
    }

