*{
    margin: 0px;
    padding: 0px;
}
    #HeroList{
        display:flex;
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        justify-content: flex-start;
        background-color:  #f2f2f2;
        height: auto;
        align-items: left;
        margin-top: 15px;
    
        #Hero{
            display: flex;
            background-color: rgb(67, 118, 148);
            height: 80px;
            align-items: center;
            color: whitesmoke;
            width: 19%;
            flex-grow: 1;
            margin: 5px 5px;
            cursor: pointer;
            justify-content: flex-start;
            font-weight: 800;
            transition: all 300ms;

            .badget{
                display: flex;
                background-color: rgb(50, 54, 50);
                flex-basis: 20%;
                justify-content: center;
                align-items: center;
                height: 100%;
                font-size: 14px;
                font-weight: 600;
                border-radius: 5px;
                
            }

            .hero-name{
                display: flex;
                justify-content: center;
                flex-grow: 3;
            }

            .delete{
                display: flex;
                width: 15%;
                height: 20px;
                justify-content: center;
                align-items: center;
                border-radius: 999px;
                font-family: arial;
                background: #0c3d5a;
                color: white;
                border: 1px solid rgb(26, 95, 128);
                margin-right: 5px;
                font-size: 12px;
                cursor: pointer;
            }

            .delete:hover{
                background: #10a1ce;
            }
    
        }
    
        #Hero:hover{
            background-color: rgb(23, 66, 90);
        }
    }

    .selected{
        background:rgb(156, 207, 236) !important;
    }

